<%- include("partials/header.ejs") -%>
    <h1>Home</h1>
    <br>
    <br>
    <form action="/earthquake" method="GET">
        <button type="submit">Earthquake</button>
    </form>
    <br>
    <br>
    <form action="/faker" method="GET">
        <button type="submit">Faker</button>
    </form>
    <br>
    <br>
    <form action="/behindTheName" method="GET">
        <button type="submit">Behind The Name</button>
    </form>
    <br>
    <br>
    <form action="/openWeatherMap" method="GET">
        <button type="submit">Open Weather Map</button>
    </form>
    <br>
    <br>
    <form action="/rickAndMorty" method="GET">
        <button type="submit">Rick and Morty</button>
    </form>
    <br>
    <br>
<%- include("partials/footer.ejs") -%>