<%- include("partials/header.ejs") -%>
    <body>
    <h1>Rick and Morty</h1>
    <div>
        <%  if(data!==null){ %>
            <% data.forEach(ele=> { %>
                <div class="card">
                    <div class="name"><p>Name: <% ele.name %></p></div>
                    <div class="species"><p>Species: <% ele.species %></p></div>
                </div>
            <% }) %>
        <% } %>
    </body>

<%- include("partials/footer.ejs") -%>